<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css"/>
    <title>Document</title>
</head>
<body>

     <div>
         <ul>
             <li><a href="/">Home</a></li>
             <li><a href="/about">About</a></li>
             <li><a href="/contact">Contact</a></li>
         </ul>
     </div>



     <div class="main-div">
        <img id="main-img" src="./img/1.jpeg"/>
     </div>



        <div>

                <div class="block">
                    <img src="./img/2.jpeg"/>
                    <h4>Nature</h4>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <a style="padding:5px; text-decoration: none; color:white" href="/nature">Read more</a>
                </div>


                <div class="block">
                    <img src="./img/3.jpeg"/>
                    <h4>The World</h4>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <a style="text-decoration: none; color: white; padding: 5px;" href="/the_world">Read more</a>
                </div>



        </div>


     <footer>
         <div class="footer-div">
             <p>Address</p>
               San Diego CA 57576

         </div>


         <div class="footer-div">
             <p>Mission</p>
            Our mission is to make the world a better place
         </div>



         <div class="footer-div">
             <p>Jobs</p>
             You can find jobs in our website

         </div>
     </footer>
    
</body>
</html>